/***** CLEARFIX is applied to the parent of floated elements *************/
/*************************************************************************/
/* line 8, ../scss/style.scss */
.clearfix {
  zoom: 1;
}
/* line 10, ../scss/style.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
/* line 14, ../scss/style.scss */
.clearfix:after {
  clear: both;
}

/* line 19, ../scss/style.scss */
iframe {
  display: none;
}

/***** SITE STYLES *************/
/**********************************/
/* line 29, ../scss/style.scss */
.wrapper {
  position: relative;
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
  padding-top: 100px;
}

/* line 37, ../scss/style.scss */
.navigation {
  position: absolute;
  top: 0px;
  right: 2%;
  padding: 10px 0px 5px 0px;
}
/* line 42, ../scss/style.scss */
.navigation input {
  width: 112px;
  padding: 2px;
  border: 2px solid #21201f;
  border-radius: 5px;
}
/* line 48, ../scss/style.scss */
.navigation .search-button {
  width: 45px;
  text-align: center;
  font-size: 0.7em;
  display: inline-block;
  color: white;
  background-color: #21201f;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px #b9adb1;
  margin: 1px;
  padding: 6px 10px;
}
/* line 60, ../scss/style.scss */
.navigation .search-button:hover {
  opacity: 0.6;
}

/* line 65, ../scss/style.scss */
.menu-icon {
  position: absolute;
  top: 14px;
  left: 0px;
}
/* line 69, ../scss/style.scss */
.menu-icon img {
  width: 90px;
}

/* line 73, ../scss/style.scss */
.social-media {
  position: absolute;
  right: 2%;
  top: 35px;
}
/* line 77, ../scss/style.scss */
.social-media a {
  display: inline-block;
  margin: 0px 5px;
}
/* line 81, ../scss/style.scss */
.social-media img {
  width: 15px;
  padding: 5px;
}
/* line 84, ../scss/style.scss */
.social-media img:hover {
  border: none;
}

/* line 90, ../scss/style.scss */
.logo {
  display: block;
  width: 95%;
  max-width: 500px;
  margin: 0 auto;
  padding: 10px 0px 30px 0px;
}

/* line 97, ../scss/style.scss */
.category-container {
  display: none;
}
/* line 99, ../scss/style.scss */
.category-container button {
  color: white;
  background-color: #21201f;
  border: none;
  border-radius: 5px;
  margin: 2px;
  padding: 5px 10px;
  font-size: 0.9em;
}
/* line 107, ../scss/style.scss */
.category-container button:hover {
  opacity: 0.8;
}

/* line 114, ../scss/style.scss */
.container div {
  background-size: cover;
  background-position: center center;
  width: 70%;
  margin: 0 auto;
  margin-top: 20px;
  height: 0;
  padding-top: 100%;
  border-radius: 5px;
  -webkit-box-shadow: 10px 10px 5px -6px #b5b5b5;
  -moz-box-shadow: 10px 10px 5px -6px #b5b5b5;
  box-shadow: 2px 1px 1px -3px #b5b5b5;
}
/* line 128, ../scss/style.scss */
.container .alink {
  opacity: 0;
  transition: all ease-in 300ms;
}
/* line 133, ../scss/style.scss */
.container .alink.is-active {
  opacity: 1;
  transition: all ease-in 300ms;
}

@media screen and (min-width: 600px) {
  /* line 140, ../scss/style.scss */
  .menu-icon {
    display: none;
  }

  /* line 143, ../scss/style.scss */
  .category-container {
    display: block;
    padding: 40px 0px;
  }
  /* line 146, ../scss/style.scss */
  .category-container button {
    color: white;
    background-color: #222222;
    border: none;
    border-radius: 5px;
    margin: 2px;
    padding: 5px 10px;
    font-size: 0.9em;
  }
  /* line 154, ../scss/style.scss */
  .category-container button:hover {
    opacity: 0.8;
  }

  /* line 160, ../scss/style.scss */
  .social-media img {
    width: 25px;
    padding: 4px;
  }
  /* line 163, ../scss/style.scss */
  .social-media img:hover {
    border: none;
  }

  /* line 169, ../scss/style.scss */
  iframe {
    display: inline-block;
    border-radius: 5px;
  }

  /* line 175, ../scss/style.scss */
  .container div {
    width: 30%;
    margin: 5px 0px 5px 0px;
    display: inline-block;
    padding-top: 42.857%;
    border: 2px solid white;
    transition: 0.5s ease all;
  }
  /* line 183, ../scss/style.scss */
  .container div:hover {
    border: 2px solid #bfbfbf;
  }
}
@media screen and (min-width: 1200px) {
  /* line 191, ../scss/style.scss */
  .container div {
    margin: 5px 0.3% 5px 0px;
  }
}
