/***** CLEARFIX is applied to the parent of floated elements *************/
/*************************************************************************/
/* line 11, ../scss/style.scss */
.clearfix {
  zoom: 1;
}
/* line 13, ../scss/style.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
/* line 17, ../scss/style.scss */
.clearfix:after {
  clear: both;
}

/* line 22, ../scss/style.scss */
iframe {
  display: none;
}

/* line 25, ../scss/style.scss */
body {
  background-color: #f8f9f8;
}

/***** SITE STYLES *************/
/**********************************/
/* line 35, ../scss/style.scss */
.wrapper {
  position: relative;
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
  padding-top: 100px;
}

/* line 43, ../scss/style.scss */
.navigation {
  position: absolute;
  top: 0px;
  right: 2%;
  padding: 10px 0px 5px 0px;
}
/* line 48, ../scss/style.scss */
.navigation input {
  width: 112px;
  padding: 2px;
  border: 2px solid #21201f;
  border-radius: 5px;
}
/* line 54, ../scss/style.scss */
.navigation .search-button {
  width: 45px;
  text-align: center;
  font-size: 0.7em;
  display: inline-block;
  color: white;
  background-color: #21201f;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px #b9adb1;
  margin: 1px;
  padding: 6px 10px;
}
/* line 66, ../scss/style.scss */
.navigation .search-button:hover {
  opacity: 0.6;
}

/* line 71, ../scss/style.scss */
.menu-icon {
  position: absolute;
  top: 14px;
  left: 0px;
}
/* line 75, ../scss/style.scss */
.menu-icon img {
  width: 90px;
}

/* line 79, ../scss/style.scss */
.social-media {
  position: absolute;
  right: 2%;
  top: 35px;
}
/* line 83, ../scss/style.scss */
.social-media a {
  display: inline-block;
  margin: 0px 5px;
}
/* line 87, ../scss/style.scss */
.social-media img {
  width: 15px;
  padding: 5px;
}
/* line 90, ../scss/style.scss */
.social-media img:hover {
  border: none;
}

/* line 95, ../scss/style.scss */
.logo {
  display: block;
  width: 95%;
  max-width: 500px;
  margin: 0 auto;
  padding: 10px 0px 30px 0px;
  border-bottom: 1px solid #cccdcb;
}

/* line 103, ../scss/style.scss */
.category-container {
  display: none;
}
/* line 105, ../scss/style.scss */
.category-container button {
  color: white;
  background-color: #21201f;
  border: none;
  border-radius: 5px;
  margin: 2px;
  padding: 5px 10px;
  font-size: 0.9em;
}
/* line 113, ../scss/style.scss */
.category-container button:hover {
  opacity: 0.8;
}

/* line 118, ../scss/style.scss */
.container {
  padding-top: 40px;
}
/* line 120, ../scss/style.scss */
.container a {
  display: block;
  border: 1px solid #cccdcb;
  border-radius: 5px;
}
/* line 125, ../scss/style.scss */
.container div {
  width: 63%;
  padding-top: 90%;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  border-radius: 5px;
  -webkit-box-shadow: 10px 10px 5px -6px #b5b5b5;
  -moz-box-shadow: 10px 10px 5px -6px #b5b5b5;
  box-shadow: 2px 1px 1px 0.5px #b5b5b5;
}
/* line 136, ../scss/style.scss */
.container img {
  display: block;
  margin: 10px;
}
/* line 140, ../scss/style.scss */
.container .alink {
  opacity: 0;
  transition: all ease-in 300ms;
}
/* line 145, ../scss/style.scss */
.container .alink.is-active {
  opacity: 1;
  transition: all ease-in 300ms;
}

@media screen and (min-width: 600px) {
  /* line 152, ../scss/style.scss */
  .menu-icon {
    display: none;
  }

  /* line 155, ../scss/style.scss */
  .logo {
    border-bottom: none;
    padding: 10px 0px 0px 0px;
  }

  /* line 159, ../scss/style.scss */
  .category-container {
    display: block;
    width: 98.5%;
    padding: 40px 0px;
    border-bottom: 1px solid #cccdcb;
  }
  /* line 164, ../scss/style.scss */
  .category-container button {
    color: white;
    background-color: #222222;
    border: none;
    border-radius: 5px;
    margin: 2px;
    padding: 5px 10px;
    font-size: 0.9em;
  }
  /* line 172, ../scss/style.scss */
  .category-container button:hover {
    opacity: 0.8;
  }

  /* line 178, ../scss/style.scss */
  .social-media img {
    width: 25px;
    padding: 4px;
  }
  /* line 181, ../scss/style.scss */
  .social-media img:hover {
    border: none;
  }

  /* line 187, ../scss/style.scss */
  iframe {
    display: inline-block;
    border-radius: 5px;
  }

  /* line 192, ../scss/style.scss */
  .container {
    width: 96%;
    margin: 0 auto;
  }
  /* line 195, ../scss/style.scss */
  .container a {
    border: none;
  }
  /* line 198, ../scss/style.scss */
  .container div {
    margin: 0px;
    width: 23.1%;
    padding-top: 33.5%;
    float: left;
    margin: 3px 0px 3px 1%;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
    border: 2px solid white;
    transition: 0.5s ease all;
  }
  /* line 207, ../scss/style.scss */
  .container div:hover {
    border: 2px solid #737376;
  }
}
@media screen and (min-width: 1200px) {
  /* line 215, ../scss/style.scss */
  .container div {
    margin: 5px 0.3% 5px 0px;
  }
}
