@import "compass";

$txtgrey:#21201f;
$lightgrey:#cccdcb;
$white:#f8f9f8;
$black:#737376;

/***** CLEARFIX is applied to the parent of floated elements *************/
/*************************************************************************/

.clearfix {
    zoom: 1;
    &:before, &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

iframe{
	display:none;
}		
body{
	background-color:$white;
}


		
/***** SITE STYLES *************/
/**********************************/


.wrapper{
	position:relative;
	width:90%;
	margin:0 auto;
	max-width:1200px;
	padding-top:100px;
}

.navigation{
	position: absolute;
	top:0px;
	right:2%;
	padding:10px 0px 5px 0px;
	input{
		width:112px;
		padding:2px;
		border:2px solid $txtgrey;
		border-radius:5px;
	}
	.search-button{
		width:45px;
		text-align: center;
		font-size:0.7em;
		display: inline-block;
		color:white;
		background-color:$txtgrey;
		border:none;
		border-radius:5px;
		box-shadow: 1px 1px #b9adb1;
		margin:1px;
		padding:6px 10px;
		&:hover{
			opacity:0.6;
		}
	}		
}
.menu-icon{
	position:absolute;
	top:14px;
	left:0px;
	img{
		width:90px;
	}
}
.social-media{
	position:absolute;
	right:2%;
	top:35px;
	a{
		display: inline-block;
		margin:0px 5px;
	}
	img{
		width:20px;
		padding:5px;
		&:hover{
			border:none;
		}	
	}
}
.logo{
	display:block;
	width:95%;
	max-width:500px;
	margin:0 auto;
	padding: 10px 0px 30px 0px;
	border-bottom: 1px solid $lightgrey;
}
.category-container{
	display:none;
	button{
		color:white;
		background-color:$txtgrey;
		border:none;
		border-radius:5px;
		margin:2px;
		padding:5px 10px;
		font-size:0.9em;
		&:hover{
			opacity:0.8;
		}
	}
}
.container{
	padding-top:40px;
	a{
		display:block;
		margin-top:15px;
		padding:0px 0 10px 0px;
		border-bottom: 1px solid $lightgrey;
	}
	div{
		width:64%;
        padding-top:90%;
   		background-size:cover;
   		background-repeat:no-repeat;
		margin:0 auto;
        border-radius:5px;
        -webkit-box-shadow: 10px 10px 5px -6px rgba(181,181,181,1);
		-moz-box-shadow: 10px 10px 5px -6px rgba(181,181,181,1);
		box-shadow: 2px 1px 1px 0.5px rgba(181,181,181,1);
	}
	img{
		display: block;
	}
	.alink{
		opacity: 0;
		transition: all ease-in 300ms;
	}

	.alink.is-active{
		opacity: 1;
		transition: all ease-in 300ms;
	}
}

@media screen and (min-width: 600px) {
	.menu-icon{
		display:none;
	}
	.logo{
		border-bottom: none;
		padding:10px 0px 0px 0px;
	}
	.category-container{
		display:block;
		width:98.5%;
		padding:40px 0px;
		border-bottom: 1px solid $lightgrey;
		button{
			color:white;
			background-color:#222222;
			border:none;
			border-radius:5px;
			margin:2px;
			padding:5px 10px;
			font-size:0.9em;
			&:hover{
				opacity:0.8;
			}
		}
	}
.social-media{
	img{
		width:25px;
		padding:4px;
		&:hover{
			border:none;
			}	
		}
	}

	iframe{
		display:inline-block;
		border-radius:5px;
	}	

	.container{
		width:96%;
		margin: 0 auto;
		a{
			border:none;
			padding:0px;
		}
		div{
			margin:0px;
			width:23.1%;
			padding-top:33.5%;
			float:left;
			margin:3px 0px 3px 1%;
			box-shadow:0 2px 5px 1px rgba(0,0,0,0.2);
			border: 2px solid white;
			transition: 0.5s ease all; 
			&:hover{
				border:2px solid $black;
			}
		}
	}
}
@media screen and (min-width: 1200px) {
		.container{
		div{
			margin:5px 0.3% 5px 0px;
		}
	}
}





